/* my rules */

body {
    background: #0f101e;
    box-sizing: border-box;
}  

h2 {text-align: center;margin-top: 100px;}

.slide {text-align: center;}

.item {
    height: 420px;
    width: 20%;
    margin:20px;
    border-radius: 5px;
    box-shadow: 5px 0px 5px #063c56;
    background-color:aqua;
    display: inline-flex;
}


