/* my rules */

body {
    background: #3399cc;
    box-sizing: border-box;
}  

.item {
    height: 420px;
    width: 20%;
    margin:20px;
    border-radius: 5px;
    box-shadow: 5px 0px 5px #063c56;
    background-color:aqua;
    display: inline-flex;
}


